/* Header Section */
header {
    width: 100%;
    padding: 5em 4em 3em 4em;
    display: flex;
    justify-content: space-between;
    max-width: 65rem;
    margin: auto;

}

header a {
    border-bottom: none;
    width: fit-content;
    padding: 0;
}

.logo {
    fill: var(--blue-grey);
    width: 75%;
}

.logo:hover {
    fill: var(--orange);
}

header h2 {
    color: var(--blue-grey);
    font-size: 1.25em;
    margin: 0 0 1.5em 1em;
}

header .main-nav {
    font-size: 1.15em;
    display: flex;
}

header .main-nav ul {
    list-style-type: none;
    color: var(--black);
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

header .main-nav ul li {
    position: relative;
    margin: .5em 1em;
}

header .main-nav ul ul {
    flex-direction: column;
    display: none;
}

header .main-nav a {
    font-weight: bold;
}

header .main-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 1em;
    left: 1.5em;
    border-radius: 50%;
    z-index: -10;
}

header .main-nav a:hover::after {
    content: "";
    position: absolute;
    width: 6em;
    height: 6em;
    bottom: -2.2em;
    left: -1.075em;
    background-color: var(--pink);
    border-radius: 50%;
    z-index: -10;
    transition: all 0.2s ease-in-out 0s;
}

header a.main-nav-active-link::after {
    content: "";
    position: absolute;
    width: 6em;
    height: 6em;
    bottom: -2.2em;
    left: -1.075em;
    background-color: var(--orange);
    border-radius: 50%;
    z-index: -10;
}

header a.main-nav-active-link, header a.main-nav a:hover {
    color: white;
}

header .main-nav a.about-link:hover::after {
    width: 6em;
    height: 6em;
    bottom: -2.2em;
    left: -.65em;
}

header a.main-nav-active-link.about-link::after {
    content: "";
    position: absolute;
    width: 6em;
    height: 6em;
    bottom: -2.2em;
    left: -.65em;
    background-color: var(--orange);
    border-radius: 50%;
    z-index: -10;
}

header .main-nav a.portfolio-link:hover::after {
    width: 6em;
    height: 6em;
    bottom: -2.2em;
    left: -.95em;
}

header a.main-nav-active-link.portfolio-link::after {
    width: 6em;
    height: 6em;
    bottom: -2.2em;
    left: -.95em;
}

.ampersand {
    color: var(--orange);
}

