/*Portfolio Section*/
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery a {
    border-bottom: none;
}

.project-preview {
    margin: 1%;
    position: relative;
    flex-basis: 30%;
}

.project-preview figcaption {
    display: none;
    height: 100%;
    width: 100%;

}

.project-preview:hover figcaption {
    display: flex;
    position: absolute;
    top: 0;
    padding: 2em;
    background-color: rgba(255,255,255,.75);
    text-align: center;

}

.project-preview figcaption .caption-container {
    margin: auto;

}

.project-preview h2 {
    font-size: 1.4em;
}

.project-preview h3 {
    font-size: 1.1em;
}

.project-img {
    width: 100%;
}
